extends layout

block content
  form(action="/auth/login" method="POST")
   div(class="register")
      h1 Log in
      div(class="register-input-container")
        label(for="username") Username
        input(type="text" id="username" name="username" required class="register-input")
      div(class="register-input-container")
        label(for="password") Password
        input(type="password" id="password" name="password" required class="register-input")
      div(class="register-input-container")
        button(type="submit" class="submit-btn") Log in 
      div(class="login-link")
        p Don't have an account? 
        a(href="/auth/register") Sign up