extends layout

block content
    div(class="container")
        form(method="POST", action="/signup")
            div(class="form-group")
                label(for="username") Username:
                input(type="text", name="username", class="form-input" id="username")
            div(class="form-group")
                label(for="password") Password:
                input(type="password", name="password", class="form-input" id="password")
            div(class="form-group")
                label(for="confirmPassword") Confirm Password:
                input(type="password", name="confirmPassword", class="form-input" id="confirmPassword")
            div(class="form-group")
                button(type="submit" class="btn") Signup
                
