<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="padding: 40px">
    <h1>Message by <%=message.user%></h1>
    <p><%= message.text%></p>
    <i>Added on <%=message.added%></i>
  </body>
</html>
